

<div class="cent">
    <div class="card border-success mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <form class="row g-12">
            <div class="col-12">
              <input type="text" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <br>
            <br>
            <div class="col-12">
              <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
            <br>
            <br>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
              </div>
        </form>
      </div>
       
</div>


