
<div class="card">
    <div class="card-header">
      <h1>feesDetails</h1>
    </div>
    <br>
    
    <div>
      <form class="row g-3" [formGroup]="feesDetailsForm" (ngSubmit)="onSave()">
        <div class="col-md-6">
          <label for="RegistrationNumber" class="form-label">RegistrationNumber<span style="color: rgb(151, 11, 11);">*</span></label>
          <input type="number" class="form-control" id="RegistrationNumber" placeholder="100" formControlName="RegistrationNumber">
          
            
          </div>
        
        <div class="col-md-6">
          <label for="inputFullName" class="form-label">FullName<span style="color: rgb(151, 11, 11);">*</span></label>
          <input type="text" class="form-control" id="inputFullName" placeholder="FullName" formControlName="FullName">
         
        </div>
        <div class="col-md-4">
            <label for="inputCource" class="form-label">Course</label>        
            <select id="inputEnglish" class="form-select" formControlName="Course">          
              <option selected>English</option>          
              <option>Programing</option>
            </select>
            
          </div>
        
        <div class="col-md-6">
          <label for="TotalFess" class="form-label">TotalFess <span style="color: rgb(151, 11, 11);">*</span></label>
          <input type="number" class="form-control" id="TotalFess" placeholder="TotalFess" formControlName="TotalFess">
       
        <div class="col-md-6">
          <label for="Discount" class="form-label">Discount</label>
          <input type="number" class="form-control" id="Discount" placeholder="Discount" formControlName="Discount">
        </div>
        <div class="col-md-6">
          <label for="Paid" class="form-label">Paid</label>
          <input type="number" class="form-control" id="Paid" placeholder="Paid" formControlName="Paid">
        </div>
        <div class="col-md-4">
          <label for="inputByAtm" class="form-label">PaidBy</label>
          <select id="inputByCash" class="form-select" placeholder="PaidBy" formControlName="PaidBy">
            <option selected>Atm</option>
            <option>...</option>
          </select>
        </div>
        <div class="col-md-4">
          <label for="Remainew" class="form-label">Remainew</label>
        </div>                    <input type="number" class="form-control" id="remenew" placeholder="remenew" formControlName="remenew>">