<div class="cent">
    <div class="card">
        <div style="font-size:20px  ; background-color: rgb(205, 205, 205); text-align: center;color: rgb(3, 3, 61);" class="card-header">
            Lead Form
        </div>
        <form class="row g-3"[formGroup]="formRegister" (ngSubmit)="load() ">
            <div class="col-md-6">
                <label for="inputFirstName" class="form-label">FirstName  <span style="color: rgb(151, 11, 11);">*</span></label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="firstname" placeholder="FirstName">
                    <div *ngIf="f['firstname'].touched && f['firstname'].invalid" class="alert alert-danger">
                        <div *ngIf="f['firstname'].errors && f['firstname'].errors['required']">First Name
                          Required</div>
                      </div>
            </div>
            <div class="col-md-6">
                <label for="inputLastName" class="form-label">LastName <span style="color: rgb(151, 11, 11);">*</span></label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="lastname" placeholder="LastName">
                <div *ngIf="f['lastname'].touched && f['lastname'].invalid" class="alert alert-danger">
                    <div *ngIf="f['lastname'].errors && f['lastname'].errors['required']">Last Name
                      Required</div>
                  </div>
            </div>
            <div class="col-md-6">
                <label for="inputFatherName" class="form-label">FatherName <span style="color: rgb(151, 11, 11);">*</span></label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="fathername" placeholder="FatherName">
                <div *ngIf="f['fathername'].touched && f['fathername'].invalid" class="alert alert-danger">
                    <div *ngIf="f['fathername'].errors && f['fathername'].errors['required']">Father Name
                      Required</div>
                  </div>
            </div>
            <div class="col-md-6">
                <label for="inputMotherName" class="form-label">MotherName<span style="color: rgb(151, 11, 11);">*</span></label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="mothername"placeholder="MotherName">
                <div *ngIf="f['mothername'].touched && f['mothername'].invalid" class="alert alert-danger">
                    <div *ngIf="f['mothername'].errors && f['mothername'].errors['required']">Mother name
                      Required</div>
                  </div>
            </div>

            <div class="col-md-6">
                <label for="inputGender" class="form-label">Gender</label>
                <select id="inputGender" class="form-select">
                    <option selected>SelectGender...</option>
                    <option>...</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="inputEmail" class="form-label">Email</label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="Email" placeholder="Email">
            </div>

            <div class="col-md-6">
                <label for="inputMobileNo" class="form-label">Mobile No. <span style="color: rgb(151, 11, 11);">*</span></label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="mobileno"placeholder="MobileNo">
            </div>
            <div *ngIf="f['mobileno'].touched && f['mobileno'].invalid" class="alert alert-danger">
                <div *ngIf="f['mobileno'].errors && f['mobileno'].errors['required']">Mobile No.
                  Required</div>
              </div>
            <div class="form-group col-6">
                <label>Date of birth</label>
                <input type="date" class="form-control" formControlName="dob" placeholder="Dob">
              </div>
            <div class="col-md-6">
                <label for="inputClass" class="form-label">Class</label>
                <select id="inputClass" class="form-select">
                    <option selected>SelectClass...</option>
                    <option>...</option>
                </select>
            </div>

            <div class="col-md-6">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" id="inputEmail4" formControlName="Address"
                    placeholder="Address">
            </div>


            <div class="col-md-4">
                <label for="inputCity" class="form-label">City</label>
                <select id="inputCity" class="form-select">
                    <option selected>SelectCity</option>
                    <option>...</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputState" class="form-label">State</label>
                <select id="inputState" class="form-select">
                    <option selected>SelectState</option>
                    <option>...</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputZip" class="form-label">Zip</label>
                <select id="inputZip" class="form-select">
                    <option selected>SelectZip</option>
                    <option>...</option>
                </select>
            </div>


            <div style="text-align:center ;" class="col-2">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            <div class="col-2">
                <button type="Cancel" class="btn btn-primary">Cancel</button>
            </div>
        </form>
    </div>
