.form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

}
.card{
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 80px;
    margin-left: 60px;
    border: 2px solid rgb(103, 167, 204);
  }