
<br>
<div class="card">
  <button style="margin-left: 88%; margin-top: 10px; margin-right: 10px;" class="btn btn-info"> New Admission</button>

  <table id="customers" style="margin-top: 10px;">


    <tr>
      <th>S/NO</th>
      <th>NAME</th>
      <th>FATHER NAME</th>
      <th>MOTHER NAME</th>
      <th>ADRESSE</th>
      <th>GENDER</th>
      <th>DOB</th>
      <th>ACTION</th>
    </tr>
    <tr>
      <td>1</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>mh,jhjlk</td>
      <td><button type="button" class="btn btn-primary">Primary</button></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Christina Berglund</td>
      <td>Sweden</td>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
      <td>mn,nlj</td>
      <td><button type="button" class="btn btn-primary">Primary</button></td>
    </tr>

    <tr>
      <td>3</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
      <td>bvhgg</td>
      <td><button type="button" class="btn btn-primary">Primary</button></td>
    </tr>
  </table>
<br>
</div>