

#customers td,
#customers th {
    border: 1px solid rgb(222, 190, 190);
    padding: 7px;
    
}

#customers tr:nth-child(even) {
    background-color: #f9f7f7;
}

#customers tr:hover {
    background-color: rgb(204, 200, 200);
}

#customers th {
    
    
    
    background-color: #b0b2b0;
    color: white;
}

.card {
    margin-top: 62px;
    margin-bottom: 50px;
    margin-right: 80px;
    margin-left: 60px;
    border: 2px solid rgb(156, 158, 159);



    
}
