<div class="card">
  <div class="card-header">
    <h1>Admission</h1>
  </div>
  <div class="card-body">
    <h5 class="card-text">You can seach here your Admission details via Mobile No. and Email</h5>
  </div>
  <div>
    <form class="row g-3" [formGroup]="admissionForm" (ngSubmit)="onSave()">
      <div class="col-md-6">
        <label for="Mobile" class="form-label">Mobile No.<span style="color: rgb(151, 11, 11);">*</span></label>
        <input type="number" class="form-control" id="Mobile" placeholder="1234567890" formControlName="Mobile">
        <div *ngIf="AdmissionForms['Mobile'].touched && AdmissionForms['Mobile'].invalid" class="alert alert-danger">
          <div *ngIf="AdmissionForms['Mobile'].errors && AdmissionForms['Mobile'].errors['required']">First Name
            Required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Email<span style="color: rgb(151, 11, 11);">*</span></label>
        <input type="email" class="form-control" id="inputEmail4" placeholder="xyz@gmail.com" formControlName="Email">
        <div *ngIf="AdmissionForms['Email'].touched && AdmissionForms['Email'].invalid" class="alert alert-danger">
          <div *ngIf="AdmissionForms['Email'].errors && AdmissionForms['Email'].errors['required']">Email Required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="FirstName" class="form-label">FirstName <span style="color: rgb(151, 11, 11);">*</span></label>
        <input type="text" class="form-control" id="FirstName" placeholder="FirstName" formControlName="FirstName">
        <div *ngIf="AdmissionForms['FirstName'].touched && AdmissionForms['FirstName'].invalid" class="alert alert-danger">
          <div *ngIf="AdmissionForms['FirstName'].errors && AdmissionForms['FirstName'].errors['required']">Email Required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="LastName" class="form-label">LastName <span style="color: rgb(151, 11, 11);">*</span></label>
        <input type="text" class="form-control" id="LastName" placeholder="LastName" formControlName="LastName">
        <div *ngIf="AdmissionForms['LastName'].touched && AdmissionForms['LastName'].invalid" class="alert alert-danger">
          <div *ngIf="AdmissionForms['LastName'].errors && AdmissionForms['LastName'].errors['required']">Email Required</div>
        </div>
      </div>
      <div class="col-md-6">
        <label for="FatherName" class="form-label">FatherName</label>
        <input type="text" class="form-control" id="FatherName" placeholder="FatherName" formControlName="FatherName">
      </div>
      <div class="col-md-6">
        <label for="MotherName" class="form-label">MotherName</label>
        <input type="text" class="form-control" id="MotherName" placeholder="MotherName" formControlName="MotherName">
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">Gender</label>
        <select id="inputState" class="form-select" placeholder="Gender" formControlName="Gender">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="DOB" class="form-label">DOB</label>
        <input type="date" class="form-control" id="DOB" placeholder="Date Of Birth" formControlName="DOB">
      </div>
      <div class="col-md-4">
        <label for="Qualification" class="form-label">Qualification</label>
        <select id="inputState" class="form-select" formControlName="Qualification">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-12">
        <label for="Adress" class="form-label">Adress</label>
        <input type="text" class="form-control" id="Adress" placeholder="Building, Area" formControlName="Adress">
        <div *ngIf="AdmissionForms['Adress'].touched && AdmissionForms['Adress'].invalid" class="alert alert-danger">
          <div *ngIf="AdmissionForms['Adress'].errors && AdmissionForms['Adress'].errors['required']">Adress Required</div>
        </div>
      </div>
      <div class="col-md-4">
        <label for="inputCity" class="form-label">City</label>        
        <select id="inputState" class="form-select" formControlName="City">          
          <option selected>Choose...</option>          
          <option>...</option>
        </select>
        
      </div>
      <div class="col-md-4">
        <label for="State" class="form-label">State</label>
        <select id="State" class="form-select" formControlName="State">
          <option selected>Choose...</option>
          <option>...</option>
        </select>
      </div>
      <div class="col-md-4">
        <label for="Zip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="Zip" formControlName="Zip">
         <div class="col-12">
        <button type="submit" class=" save btn btn-primary">Save</button>
      </div>
      </div>     
    </form>
  </div>
</div>