<footer class="bg-light text-dark pt-5 pb-4">
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left">
            <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-info">About Us</h5>
                <hr class="mb-4">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, repudiandae dicta.</p>
            </div>
        </div>

    </div>

</footer>